body {
  margin: 40px 0 0;
  padding: 0;
  /*background-color: #f5f5f5; !* 背景色を少し変えて視認性を向上 *!*/
}

.container-wrapper {
  display: grid;
  gap: 20px; /* 間隔を増やす */
  width: 100%;
  height: 100vh;
  padding: 20px; /* 外側の余白を追加 */
  box-sizing: border-box;
}

.editor-container {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 15px; /* コンテナ内の余白を追加 */
  overflow: auto; /* スクロールが必要な場合に表示 */
  border-radius: 5px; /* 角を丸くする（オプション） */
  grid-column: 1 / -1; /* グリッド全体を使用 */
}

.status-bar {
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  letter-spacing: 0.05em;
  max-height: 1.1em;
  min-height: 1.1em;
  line-height: 1.1em;
}
